.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 75px;
    padding-right: 75px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 70px;
    padding-right: 70px;
  }
}
