.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 100;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), vissibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), vissibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 618px;
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    width: 882px;
  }
}

.modal__elements {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0, auto;
  padding-top: 48px;
  padding-bottom: 41px;
}

@media screen and (min-width: 768px) {
  .modal__elements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal__title {
  font-size: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
  .modal__title {
    font-size: 30px;
  }
}

.modal__film {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__film-details {
  color: #8c8c8c;
  margin-right: 40px;
}

.modal__about {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.modal__text, .modal__film-details {
  margin-bottom: 20px;
}

.modal__img {
  max-width: none;
}

@media screen and (min-width: 320px) {
  .modal__img {
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    height: 357px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .modal__img {
    width: 264px;
    height: 374px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .modal__img {
    width: 396px;
    height: 478px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  padding: 5px;
}

.modal__close-btn-icon {
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=main.css.map */