//colors

$logo-color: #818181;
$accent-color: #ff6b08;
$accent-hover-color: #ff6b08; // подобрать цвет

$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$credits-text-color: #545454;
$modal-topic-color: #8c8c8c;
// $primary-bg-color: #ffffff;
$secondary-bg-color: #f7f7f7;
$header-overlay: rgba(255, 255, 255, 0.56);
$modal-backdrop: rgba(255, 255, 255, 0.25); // решить будем ли использовать
$btn-color: rgba(0, 0, 0, 0.56);
//shadows

// $hero-shadow-color: rgba(0, 0, 0, 0.04);
// $cards-shadow-color: rgba(0, 0, 0, 0.1);
$btn-shadow-color: rgba(255, 107, 1, 0.6);

//font
$primary-font: 'Roboto', sans-serif;

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//transition
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration: 250ms;
