<ul class="btn-base">
    <li class="btn-base-item">
        <button class="btn-base-item_header" type="button">WATCHED</button>
    </li>
    <li>
        <button class="btn-base-item_header" type="button">QUEUE</button>
    </li>
</ul>