<div class="modal container">
<img class="modal__img" src={{}} alt="">
<h2 class="modal__title">{{}}</h2>
<div class="modal__film">
    <ul class="modal__film-details">
        <li>Vote / Votes</li>
        <li>Popularity</li>
        <li>Original Title</li>
        <li>Genre</li>
    </ul>
    <ul>
        <li><span class="modal__accent-block">{{}}</span>/ {{}}</li>
        <li>{{}}</li>
        <li>{{}}</li>
        <li>{{}}</li>
    </ul>
</div>
<h3 class="modal__about">About</h3>
<p class="modal__text">{{}}</p>
<div class="modal__btn-group">
    <button type="button">add to Watched</button>
    <button type="button">add to queue</button>

</div>
</div>