.arrow {
  position: relative;
}

.modal__elements-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $primary-text-color;
  cursor: pointer;
  // opacity: 0;
  pointer-events: none;
}

.arrow__left {
  left: -40px;
  top: 50%;

  &:hover {
    background-color: $accent-color;
    // opacity: 1;
  }
}
.arrow__right {
  right: -40px;
  top: 50%;

  &:hover {
    background-color: $accent-color;
    // opacity: 1;
  }
}
