.arrow {
  position: relative;
}

.modal__elements-arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  // background-color: transparent;
  color: $primary-text-color;
  cursor: pointer;
  z-index: 5;
  pointer-events: none;
}

.arrow__left {
  left: 0%;
  top: 50%;

  &:hover {
    background-color: $accent-color;
  }
}
.arrow__right {
  right: 0%;
  top: 50%;

  &:hover {
    background-color: $accent-color;
  }
}
