.modal__container {
  position: relative;
}

.modal {
  position: absolute;
  z-index: 200;
  top: 20px;
  left: 50%;
  width: 280px;
  overflow-y: auto;
  transform: translate(-50%);
  background-color: $secondary-text-color;

  @media screen and (max-width: 767px) {
    height: 100%;
  }

  @media screen and (min-width: $tablet) {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 618px;
  }
  @media screen and (min-width: $desktop) {
    width: 882px;
  }

  &__elements {
    // position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0, auto;
    padding-top: 50px;
    padding-bottom: 40px;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }

  &__film {
    display: flex;
  }

  &__film-details {
    color: $modal-topic-color;
    margin-right: 40px;
  }

  &__film-data {
    font-weight: 700;
  }

  &__film-item {
    margin-bottom: 10px;
  }

  &__film-genres {
    display: inline-flex;
    flex-wrap: wrap;
  }

  &__genres-item {
    display: inline;

    &:not(:last-child) {
      margin-right: 3px;
    }

    &:not(:last-child)::after {
      content: ',';
    }
  }

  &__about {
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  &__text {
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.66;
  }
}
.modal__orig-title {
  text-transform: uppercase;
}

.modal__img {
  border-radius: 5px;

  @media screen and (min-width: $mobile) {
    margin-right: auto;
    margin-left: auto;
    width: 240px;
    height: 357px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet) {
    width: 264px;
    height: 374px;
    margin-right: 30px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    width: 396px;
    height: 478px;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: transparent;

  padding: 5px;

  &-icon {
    width: 14px;
    height: 14px;
  }
}
