.modal {
  &__list-btn {
    display: flex;
    justify-items: center;
  }

  &__item-btn {
    @extend %button;
    border: 1px solid $primary-text-color;
    color: $primary-text-color;
    background-color: $secondary-text-color;
    align-content: center;

    @media screen and(min-width:$mobile) {
      width: 112px;
    }
    @media screen and(min-width:$tablet) {
      width: 125px;
    }
    @media screen and(min-width:$desktop) {
      width: 136px;
    }

    &:active {
      background-color: $accent-color;
      border: none;
      box-shadow: $btn-shadow-color;
    }

    &:hover {
      background-color: $accent-color;
      border: none;
      box-shadow: $btn-shadow-color;
    }
  }

  &__item-btn:first-child {
    margin-right: 15px;
  }
}
