.modal {
  position: absolute;
  z-index: 101;
  top: 20px;
  left: 50%;
  width: 280px;
  padding: 50px 20px 40px 20px;
  overflow-y: auto;
  transform: translate(-50%);
  background-color: $secondary-text-color;
  box-shadow: $cards-shadows-box $cards-shadow-color;

  @media screen and (max-width: 767px) {
    height: 100%;
  }

  @media screen and (min-width: $tablet) {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 618px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    width: 882px;
  }

  &__elements {
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }

  &__img-container {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    min-width: 240px;
    height: 357px;

    @media screen and (min-width: $tablet) {
      min-width: 264px;
      height: 374px;
      margin-right: 30px;
      margin-bottom: 0px;
    }
    @media screen and (min-width: $desktop) {
      min-width: 396px;
      height: 478px;
      margin-right: 0px;
    }
  }

  &__img {
    margin: 0 auto;
    height: 100%;
    border-radius: 5px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    @media screen and (min-width: $desktop) {
      font-size: 30px;
    }
  }

  &__film-info {
    margin-bottom: 20px;
  }

  &__film {
    display: flex;
  }

  &__film:not(:last-child) {
    margin-bottom: 10px;
  }

  &__film-details {
    flex: 0 1 108px;
    color: $modal-topic-color;
  }

  &__film-data {
    flex: 1 0 0;
  }

  &__film-item {
    margin-bottom: 10px;
  }

  &__film-genres {
    display: inline-flex;
  }

  &__genres-item {
    display: inline;

    &:not(:last-child) {
      margin-right: 3px;
    }

    &:not(:last-child)::after {
      content: ',';
    }
  }

  &__about {
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &__text {
    margin-bottom: 20px;
    line-height: 1.67;
  }
}

.modal__data-title {
  text-transform: uppercase;
}

.modal__orig-title {
  white-space: nowrap;
}

.modal__item:first-child {
  margin-right: 15px;
}

.raiting--modal {
  margin-right: 5px;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 201;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;

  transition: border $animation-duration $timing-function;

  padding: 5px;

  &-icon {
    width: 24px;
    height: 24px;
    transition: fill $animation-duration $timing-function;
  }
  &:hover {
    border: 1px solid $accent-color;
    fill: $accent-color;
  }
}
