.scroll-top {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.icon-up-arrow {

  opacity: 0;
  width: 70px;
  height: auto;
  fill: $accent-color;
  pointer-events: none;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    @media screen and (min-width: $desktop) {
      fill: $accent-hover-color;
      opacity: 1;
    }
  }
  &--active {
    opacity: 0.5;
    pointer-events: all;
  }
  &--hidden{
    opacity: 0;
  }
  &__container{
    position: fixed;
    bottom: 13%;
    right: 4%;
  }
}

.rocket-tail {

    opacity: 0;   
    position: absolute;  
    left: 50%;
    top: 0;
    width: 10px;
    height: 70px;
    background: linear-gradient($btn-shadow-color, transparent);
    right: 40%;  
    &__container{
      position: relative;
      width: 60px;
      height: 10px;
    }

} 
 .rocket-running{
    animation: animate 0.3s ease-out;
    animation-timing-function: linear;
   
    
    @keyframes animate {
      0% {
         transform: scaleY(0.5);
      }
      20% {
        transform: scaleY(0.9);
      }
      30% {
         transform: scaleY(1);
      }
      40% {
         transform: scaleY(0.2);
      }
      50% {
         transform: scaleY(0.5);
      }
      90% {
         transform: scaleY(1);
      }
      100% {
         transform: scaleY(0.5);
      }
  }
}
