.filters__wrapper li {
  position: relative;
  display: block;
  opacity: 0;
  cursor: pointer;
}

.filters__wrapper li > ul {
  position: absolute;
  pointer-events: none;
}
.filters {
  display: flex;
}

.filters__wrapper > ul > li {
  pointer-events: all;
  opacity: 1;
}
.values-link {
  white-space: nowrap;
  display: block;
}

li:hover > ul {
  pointer-events: initial;
}
li:hover > ul > li,
ul:hover > li {
  opacity: 1;
}
.filters__wrapper > ul > li li ul {
  transform: translateX(100%);
  top: 0;
  right: 0;
}
/* User Styles Below Not Required */
/* User Styles Below Not Required */
/* User Styles Below Not Required */

.filters__wrapper {
  overflow: hidden;
}

.filters__link {
  background: $accent-color;
  color: #fff;
  min-width: 190px;
  transition: background 0.5s, color 0.5s, transform 0.5s;
  margin: 0px 6px 6px 0px;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
}

// .filters__wrapper a:hover:before
.filters__title:hover:before,
.values-link:hover:before {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
}
// .filters__wrapper > ul > li > a + ul:after
.filters__list:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-top: 10px solid white;
  left: 12px;
  top: -40px;
}
// .filters__wrapper li > ul > li > a + ul
.values:after {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-left: 10px solid white;
  top: 20px;
  left: -180px;
  transition: opacity 0.6, transform 0s;
}

// .filters__wrapper > ul > li > ul > li
.filters__list-item {
  transition: transform 0.6s, opacity 0.6s;
  transform: translateY(150%);
  opacity: 0;
}
// .filters__wrapper > ul > li:hover > ul > li
.filters__item:hover .filters__list-item {
  transform: translateY(0%);
  opacity: 1;
}
// li > ul > li > ul > li
.values__item {
  transition: transform 0.6s, opacity 0.6s;
  transform: translateX(195px) translateY(0%);
  opacity: 0;
}
// li > ul > li:hover > ul > li,
.filters__list-item:hover .values__item {
  transform: translateX(0) translateY(0%);
  opacity: 1;
}
