.header {
  height: 230px;
  padding-top: 46px;
  background-color: gray;

  @media screen and (max-width: $tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

// .header__main-bckg {
//   background-image: url('../../images/content/main-header-img.jpg');
// }

.header__section {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  justify-items: center;
  align-items: center;
}
.header__logo_icon {
  outline: 1px solid red;

  @media screen and (min-width: $tablet) {
    margin-right: 10px;
  }
}

.header__logo_name {
  @media screen and (max-width: $tablet) {
    display: none;
  }

  font-size: 30px;
  color: $secondary-text-color;
}

.header__nav {
  display: flex;

  &_item {
    position: relative;
    line-height: 1.17;
    text-transform: uppercase;
  }

  &_item:not(:last-child) {
    margin-right: 39px;
  }
}

.header__nav_item-active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: $accent-color;
}

.header__form {
  text-align: center;
  margin-top: 37px;

  &_input {
    position: relative;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 0.5px solid $secondary-text-color;
    padding: 0px;

    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      width: 280px;
    }

    width: 336px;

    &::placeholder {
      font-weight: 400px;
      font-size: 14px;
      line-height: 1.14;
      color: $secondary-text-color;
    }
  }

  &_search-icon {
    position: absolute;
    right: auto;
    outline: 1px solid red;
  }
}
