.container--main-geometry {
  padding: 20px 20px 40px 20px;

  @media screen and (min-width: $tablet) {
    padding: 60px 75px 50px 75px;
  }
  @media screen and (min-width: $desktop) {
    padding: 60px 71px 50px 71px;
  }
}

.films {
  margin-bottom: 40px;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
  }
}

.films__item {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 5px;
  background-color: $secondary-text-color;
  transition: box-shadow 450ms $timing-function;
  &:hover {
    box-shadow: $cards-shadows-box $modal-topic-color;
    cursor: pointer;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
    width: 294px;
  }
  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}

.films__picture {
  border-radius: 5px;
  width: 280px;
  height: 398px;
  margin-bottom: 10px;
  object-fit: cover;


  @media screen and (min-width: $tablet) {
    width: 294px;
  }
  @media screen and (min-width: $desktop) {
    width: 274px;
  }
}

.films__info {
  padding-left: 5px;
  padding-right: 5px;
}

.films__info-wrap {
  display: flex;
  flex-wrap: wrap;
}

.films__name {
  text-transform: uppercase;
  margin: 0;
}
.films__genre,
.films__info-mark,
.films__year {
  margin-right: 3px;
  color: $accent-color;
}

.films__genre {
  display: inline-flex;
  flex-wrap: wrap;
}

.films__genre-item {
  display: inline;
  text-decoration: none;
  transition: text-decoration 1000ms $timing-function;

  &:hover {
    text-decoration: underline;
  }
  &:not(:last-child) {
    margin-right: 3px;
  }

  &:not(:last-child)::after {
    content: ',';
    color: $accent-hover-color;
  }
}

.raiting {
  width: 36px;
  height: 16px;
  padding: 1px 6px;
  background: $accent-hover-color;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  text-align: center;
}
