.header__container {
  position: relative;
}
.toolbar {
  position: absolute;
  top: -25px;
  right: 54px;
  @media screen and(min-width:$tablet) {
    top: 67px;
    right: 106px;
  }
}

body.dark-theme {
  background-color: $dark-theme-color;
  color: $secondary-text-color;
  fill: $secondary-text-color;
  .films__item {
    background-color: $dark-theme-color;
    &:hover {
      box-shadow: $cards-shadows-box $filters-text-color;
    }
  }
  .theme-switch {
    &__btn {
      display: none;
    }
    &__btn-light {
      display: block;
      background-color: transparent;
      align-content: center;
      border: none;
      text-align: center;
      border-radius: 5px;
      padding: 8px 12px;
    }
  }
  .pagination__list-item {
    background-color: transparent;
    color: $secondary-text-color;
  }
  .pagination__current-btn {
    background-color: $accent-color;
  }
  .pagination__dots {
    color: $secondary-text-color;
  }
  .modal {
    background-color: $dark-theme-color;
    color: $secondary-text-color;
  }
  .modal__item-btn {
    background-color: $dark-theme-color;
    border-color: $secondary-text-color;
    color: $secondary-text-color;
    &:hover {
      background-color: $accent-color;
    }
  }
  .filters {
    &__box {
      background-color: $dark-theme-color;
      color: $secondary-text-color;
      &:hover {
        background-color: $accent-color;
      }
    }
    &__title::after {
      border-left: 6px solid $secondary-text-color;
    }
    &__dropdown {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
    & .values__form-input {
      border-color: $secondary-text-color;
      &::placeholder {
        color: $secondary-text-color;
      }
    }
    & .values__form-search-icon {
      stroke: $secondary-text-color;
    }
  }
  .footer {
    background-color: $dark-theme-color-footer;
    &__text {
      color: $secondary-text-color;
    }
  }
  .pop {
    filter: brightness(0.6);
  }
  .contact-card {
    background-color: $contact-card-bg-dark-theme;
    &__title {
      color: $secondary-text-color;
    }
  }
}

.theme-switch {
  &__btn {
    background-color: transparent;
    align-content: center;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 8px 12px;
  }
  &__btn-light {
    display: none;
  }
  &__icon {
    height: 12px;
    width: 12px;
    fill: $secondary-text-color;
    &:hover,
    &:focus {
      fill: $accent-color;
    }

    @media screen and(min-width:$tablet) {
      width: 20px;
      height: 20px;
    }
  }
}
