body.dark-theme {
  background-color: $dark-theme-color;
  color: $secondary-text-color;
}

.toolbar {
  position: absolute;
  top: -50%;
  right: 11%;
  @media screen and(max-width:$tablet) {
    top: 150%;
    right: 0;
  }
}
/* THEME SWITCH */

.theme-switch {
  &__btn {
    background-color: transparent;
    align-content: center;
    border: none;
    text-align: center;
    border-radius: 5px;
    padding: 8px 12px;
  }

  &__icon {
    height: 12px;
    width: 12px;
    fill: $secondary-text-color;
    &:hover,
    &:focus {
      fill: $accent-color;
    }

    @media screen and(min-width:$tablet) {
      width: 20px;
      height: 20px;
    }
  }
}
