body.dark-theme {
  background-color: $dark-theme-color;
  color: $secondary-text-color;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  padding: 8px 12px;
}
/* THEME SWITCH */

.theme-switch {
  &__btn {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    align-content: center;
    border: none;
    text-align: center;
    border-radius: 5px;

    &:hover:after {
      transform: translateX(0);
    }

    &:after {
      content: 'switch theme';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      color: $secondary-text-color;
      background: $logo-color;
      transform: translateX(100%);
      transition: $timing-function $animation-duration;
    }
  }

  &__icon {
    height: 12px;
    width: 12px;
    margin-right: 4px;
    margin-left: 4px;
    fill: $secondary-text-color;

    @media screen and(min-width:$tablet) {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      margin-left: 8px;
    }
  }
}
