<!-- 111111 -->
<div class="toolbar">
    <div class="theme-switch">
        <button class="theme-switch__btn " type="button" id="theme-switch-toggle" name="theme">

            <svg class="theme-switch__icon " role="tab" aria-label="Sun icon">
                <use href="./images/icon/sprite.svg#sun"></use>
            </svg>
        </button>
        <button class="theme-switch__btn-light " type="button" id="theme-switch-light" name="theme">

            <svg class="theme-switch__icon" aria-label="Moon icon">
                <use href="./images/icon/sprite.svg#moon"></use>
            </svg>
        </button>

    </div>
</div>
<!-- 11111 -->