<div class="backdrop visually-hidden" data-modal="backdrop" id="theme-switch-toggle">
  <div class="modal">
    <div class="modal__content"></div>
    <ul class="js-modal-btns">
      <li><button type="button" class="prev-btn">Prev</button></li>
      <li><button type="button" class="next-btn">Next</button></li>
    </ul>
    <button type="button" class="modal__close-btn" data-modal="close">
      <svg class="modal__close-btn-icon">
        <use href="./images/icon/sprite.svg#modal-close"></use>
      </svg>
    </button>
  </div>
  </div>
