<div class="backdrop visually-hidden" data-modal="backdrop" >
  <ul class="js-modal-btns modal__btns-list">
    <li><button type="button" class="js-modal-prev-btn modal__btn modal__btns-list-prev">&#5176;</button></li>
    <li><button type="button" class="js-modal-next-btn modal__btn modal__btns-list-next">&#5171;</button></li>
  </ul>
  <div class="modal">
    <div class="modal__content"></div>
    <button type="button" class="modal__close-btn" data-modal="close">
      <svg class="modal__close-btn-icon">
        <use href="./images/icon/sprite.svg#modal-close"></use>
      </svg>
    </button>
  </div>
  </div>
