<div class="backdrop visually-hidden" data-modal="backdrop">
  <div class="modal">
    <div class="modal__content"></div>
    <button type="button" class="modal__close-btn" data-modal="close">
      <svg class="modal__close-btn-icon" viewBox="0 0 32 32">
        <use href="./images/icon/sprite.svg#modal-close"></use>
        <!-- <path
          d="M26.667 7.303l-1.97-1.97-7.808 7.808-7.808-7.808-1.97 1.97 7.808 7.808-7.808 7.808 1.97 1.97 7.808-7.808 7.808 7.808 1.97-1.97-7.808-7.808 7.808-7.808z"
        ></path> -->
      </svg>
    </button>
  </div>
</div>
