<footer class="footer dark-theme" >
  <div class="container footer__container">
    <span class="footer__text">&#169;</span>
    <p class="footer__text lng-footer">2021 | All Rights Reserved | Developed with</p>
    <span
      ><svg class="footer__icon-heart">
        <use href="./././images/icon/sprite.svg#icon-heart"></use>
      </svg>
    </span>
    <p class="footer__text">
      by
      <span class="footer__text-authors js-students-contacts lng-goit">GoIT Students</span>
    </p>
  </div>
</footer>
