<header class="header header__main-bckg">
  <div class="container header__container">
    <div class="header__section">
      <nav class="header__nav">
        <a class="header__logo js-logo" href="././index.html">
          <svg class="header__logo-icon animation" width="24" height="24">
            <use href="./././images/icon/sprite.svg#icon-film"></use>
          </svg>
          <span class="header__logo-name lng-header-logo">Filmoteka</span>
        </a>
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <button class="header__nav-btn header__nav-item--active lng-home" type="button" data-action="home">
              Home
            </button>
          </li>
          <li class="header__nav-item">
            <button class="header__nav-btn lng-library" type="button" data-action="library">My library</button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="header__searcher">
      <form class="header__form" role="search">
        <input class="header__form-input lng-input" type="text" name="query" placeholder="Search movies by name"
          autocomplete="off" />
        <button type="submit" class="header__form-input-btn js-input-btn">
          <svg class="header__form-search-icon" width="12" height="12">
            <use href="./././images/icon/sprite.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <div class="filters__box filters__dropdown">
        <svg class="filters__search-icon" width="12" height="12">
          <use href="./././images/icon/sprite.svg#icon-equalizer"></use>
        </svg>
        <ul class="filters">
          <li class="filters__item">
            <p class="filters__box filters__title lng-release">release</p>
            <div class="values">
              <form class="filters__box values__item values__form" role="search">
                <input class="values__form-input lng-year" type="number" name="year" min="1878" max="2022" 
                  placeholder="year" autocomplete="off" />
                <button type="submit" class="values__form-btn">
                  <svg class="values__form-search-icon" width="12" height="12">
                    <use href="./././images/icon/sprite.svg#icon-search"></use>
                  </svg>
                </button>
              </form>
            </div>
          </li>
          <li class="filters__item">
            <p class="filters__box filters__title lng-popularity">popularity</p>
            <ul class="values">
              <li class="filters__box values__item values__item--rating lng-descending">descending</li>
              <li class="filters__box values__item values__item--rating lng-ascending">ascending</li>
            </ul>
          </li>
          <li class="filters__item js-filter-box">
            <p class="filters__box filters__title lng-genre">genre</p>
            <ul class="values values--genres"></ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="header__btn visually-hidden">
      <ul class="header__list-btn">
        <li class="header__list-item">
          <button class="header__item-btn header__item-btn--active lng-watched" type="button" data-action="watched">
            WATCHED
          </button>
        </li>
        <li class="header__list-item">
          <button class="header__item-btn lng-queue" type="button" data-action="queue">QUEUE</button>
        </li>
      </ul>
    </div>

    <div class="toolbar">
      <div class="theme-switch">
        <button class="theme-switch__btn" type="button" id="theme-switch-toggle" name="theme">
          <svg class="theme-switch__icon"  aria-label="Sun icon">
            <use href="./images/icon/sprite.svg#sun"></use>
          </svg>
        </button>
        <button class="theme-switch__btn-light" type="button" id="theme-switch-light" name="theme">
          <svg class="theme-switch__icon" aria-label="Moon icon">
            <use href="./images/icon/sprite.svg#moon"></use>
          </svg>
        </button>
      </div>
    </div>
    <select class="change-lng">
      <option class="change-lng__item change-lng__item--en" value="en">EN</option>
      <option class="change-lng__item change-lng__item--uk" value="uk">UA</option>
      <option class="change-lng__item change-lng__item--ru" value="ru">RU</option>
    </select>
  </div>
  </div>
</header>