<H1 class="visually-hidden">list movies</H1>
<div class="container main-conteiner">
    <ul class="film-list film-list__home card__colection">
    <li class="film-list-item">
        <div>
            <img src="" alt="">
            <img class="film-picture" data-index="{{@index}}"
      src="https://upload.wikimedia.org/wikipedia/commons/c/c2/No_image_poster.png" alt="content photo">
        </div>
        <div>
            <h2>название фильма</h2>
            <div>
                <ul>
                    <li>жанр</li>
                </ul>
                <span class="film-info-mark">|</span>
                <p class="film-year">2010</p>
            </div>
        </div>
    </li>
    
    </ul>
</div>