<H1 class="visually-hidden">list movies</H1>
<div class="container main-conteiner">
    <ul class="film-list">
    <li class="film-list-item">
        <div class="film-card">
            <!-- <img class="film-picture" src="" alt=""> -->
            <img class="film-picture" data-index="{{@index}}"
      src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c2/20170210132813%21No_image_poster.png" alt="content photo">
        </div>
        <div class="film-info">
            <h2 class="film-name">название фильма</h2>
            <div class="film-info-wrap">
                <ul class="film-genre">
                    <li class="film-genre-item">жанр</li>
                </ul>
                <span class="film-info-mark">|</span>
                <p class="film-year">2010</p>
                <!-- <span class="raiting">10.0</span> -->
            </div>
        </div>
    </li>
    

    <!-- ===== -->
    <li class="film-list-item">
        <div class="film-card">
            <!-- <img class="film-picture" src="" alt=""> -->
            <img class="film-picture" data-index="{{@index}}"
      src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c2/20170210132813%21No_image_poster.png" alt="content photo">
        </div>
        <div class="film-info">
            <h2 class="film-name">название фильма</h2>
            <div class="film-info-wrap">
                <ul class="film-genre">
                    <li class="film-genre-item">жанр</li>
                </ul>
                <span class="film-info-mark">|</span>
                <p class="film-year">2010</p>
                <!-- <span class="raiting">10.0</span> -->
            </div>
        </div>
    </li>
    <li class="film-list-item">
        <div class="film-card">
            <!-- <img class="film-picture" src="" alt=""> -->
            <img class="film-picture" data-index="{{@index}}"
      src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c2/20170210132813%21No_image_poster.png" alt="content photo">
        </div>
        <div class="film-info">
            <h2 class="film-name">название фильма</h2>
            <div class="film-info-wrap">
                <ul class="film-genre">
                    <li class="film-genre-item">жанр</li>
                </ul>
                <span class="film-info-mark">|</span>
                <p class="film-year">2010</p>
                <!-- <span class="raiting">10.0</span> -->
            </div>
        </div>
    </li>
    <li class="film-list-item">
        <div class="film-card">
            <!-- <img class="film-picture" src="" alt=""> -->
            <img class="film-picture" data-index="{{@index}}"
      src="https://upload.wikimedia.org/wikipedia/commons/archive/c/c2/20170210132813%21No_image_poster.png" alt="content photo">
        </div>
        <div class="film-info">
            <h2 class="film-name">название фильма</h2>
            <div class="film-info-wrap">
                <ul class="film-genre">
                    <li class="film-genre-item">жанр</li>
                </ul>
                <span class="film-info-mark">|</span>
                <p class="film-year">2010</p>
                <!-- <span class="raiting">10.0</span> -->
            </div>
        </div>
    </li>
    <!-- ===== -->
    </ul>
</div>