<main>
<section class="container container--main-geometry">

    <h1 class="visually-hidden">list movies</h1>
    
    <div class="filters__wrapper">
        <ul class="filters">
            <li class="filters__item">
                <a class="filters__link">Sort by</a>
                <ul class="filters__list">
                    <li class="filters__list-item">
                        <a class="filters__title filters__link">release</a>
                        <ul class="values">
                            <li class="values__item"><a class="values-link filters__link">descending</a></li>
                            <li class="values__item"><a class="values-link filters__link">ascending</a></li>
                        </ul>
                    </li>
                    <li class="filters__list-item">
                        <a class="filters__title filters__link">genre</a>
                        <ul class="values">
                            <li class="values__item"><a class="values-link filters__link">action</a></li>
                            <li class="values__item"><a class="values-link filters__link">adventure</a></li>
                            <li class="values__item"><a class="values-link filters__link">animation</a></li>
                            <li class="values__item"><a class="values-link filters__link">comedy</a></li>
                            <li class="values__item"><a class="values-link filters__link">crime</a></li>
                            <li class="values__item"><a class="values-link filters__link">documentary</a></li>
                            <li class="values__item"><a class="values-link filters__link">drama</a></li>
                            <li class="values__item"><a class="values-link filters__link">family</a></li>
                            <li class="values__item"><a class="values-link filters__link">fantasy</a></li>
                            <li class="values__item"><a class="values-link filters__link">history</a></li>
                            <li class="values__item"><a class="values-link filters__link">horror</a></li>
                            <li class="values__item"><a class="values-link filters__link">music</a></li>
                            <li class="values__item"><a class="values-link filters__link">mystery</a></li>
                            <li class="values__item"><a class="values-link filters__link">romance</a></li>
                            <li class="values__item"><a class="values-link filters__link">science fiction</a></li>
                            <li class="values__item"><a class="values-link filters__link">TV Movie</a></li>
                            <li class="values__item"><a class="values-link filters__link">thriller</a></li>
                            <li class="values__item"><a class="values-link filters__link">war</a></li>
                            <li class="values__item"><a class="values-link filters__link">western</a></li>
                        </ul>
                    </li>
                    <li class="filters__list-item">
                        <a class="filters__title filters__link">rating</a>
                        <ul class="values">
                            <li class="values__item"><a class="values-link filters__link">descending</a></li>
                            <li class="values__item"><a class="values-link filters__link">ascending</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <ul class="films"></ul>
    
</section>
</main>