<main>
<section class="container container--main-geometry">

    <h1 class="visually-hidden">list movies</h1>
    
    <div class="filters__dropdown">
        Sort by
        <ul class="filters">
            <li class="filters__item">
                <p class="filters__title">release</p>
                <ul class="values">
                    <li class="values__item">descending</li>
                    <li class="values__item">ascending</li>
                </ul>
            </li>
            <li class="filters__item">
                <p class="filters__title">genre</p>
                <ul class="values">
                    <li class="values__item">action</li>
                    <li class="values__item">adventure</li>
                    <li class="values__item">animation</li>
                    <li class="values__item">comedy</li>
                    <li class="values__item">crime</li>
                    <li class="values__item">documentary</li>
                    <li class="values__item">drama</li>
                    <li class="values__item">family</li>
                    <li class="values__item">fantasy</li>
                    <li class="values__item">history</li>
                    <li class="values__item">horror</li>
                    <li class="values__item">music</li>
                    <li class="values__item">mystery</li>
                    <li class="values__item">romance</li>
                    <li class="values__item">science fiction</li>
                    <li class="values__item">TV Movie</li>
                    <li class="values__item">thriller</li>
                    <li class="values__item">war</li>
                    <li class="values__item">western</li>
                </ul>
            </li>
            <li class="filters__item">
                <p class="filters__title">rating</p>
                <ul class="values">
                    <li class="values__item">descending</li>
                    <li class="values__item">ascending</li>
                </ul>
            </li>
        </ul>
    </div>

    <ul class="films"></ul>
    
</section>
</main>