<main>
  <section class="container container--main-geometry">
    <h1 class="visually-hidden">list movies</h1>

    <img class="nothing-found visually-hidden" src="./images/content/nothing-found.png" alt="alt" />
    <ul class="films"></ul>

    <div class="container pagination">
      <button type="button" class="pagination__arrow js-previous"></button>
      <button type="button" class="pagination__list-item" id="first-btn">1</button>
      <span class="pagination__dots js-left-dots">...</span>

      <ul class="pagination__list"></ul>

      <span class="pagination__dots js-right-dots">...</span>
      <button type="button" class="pagination__list-item" id="last-btn"></button>
      <button type="button" class="pagination__arrow js-next"></button>
    </div>

    <div class="background-box">
      <ul class="pops">
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
      </ul>
      <ul class="pops pops--invers">
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
        <li class="pop"><img src="./images/content/background/popcorn.webp" alt="popcorn" /></li>
      </ul>
    </div>
  </section>
</main>
